
<!--<h2><%= articles %></h2>-->

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Salary</th>
        <th>Age</th>
    </tr>
    </thead>

    <tbody>
    <% articles.forEach(function(article){ %>
        <tr>
            <td><%= article.id %></td>
            <td><%= article.employee_name %></td>
            <td><%= article.employee_salary %></td>
            <td><%= article.employee_age %></td>
        </tr>
    <% }); %>
    </tbody>
</table>


<!--id: '24',-->
<!--employee_name: 'Doris Wilder',-->
<!--employee_salary: '85600',-->
<!--employee_age: '23',-->
<!--profile_image: ''-->
